# dependencies
**/node_modules
*.pnp
*.pnp.js

# testing
**/coverage

# logs
**/logs
*.log

# misc
.DS_Store
*.env
**/.env

# go server binaries
/server/server.exe
/server/server

# certificates
*.key
*.crt
*.csr

# for Goland ide rules files
.idea/*

# Swap files
*.swp
